<section class='merchant-order-customer-info'>
  <p>Customer: <%= @order.user.name %></p>
  <section class='merchant-order-customer-address'>
    <section class="address-label">
      <p>Shipping to: </p>
    </section>
    <section class="address-fields">
      <p><%= @order.user.street_address %></p>
      <p><%= @order.user.city %>, <%= @order.user.state %></p>
      <p><%= @order.user.zip_code %></p>
    </section>
  </section>
</section>

<section class='merchant-order-items'>
  <% @order_items.each do |order_item| %>
    <section class='item-<%= order_item.id %>'>
      <section class='item-image'>
        <%= image_tag order_item.item.image_url, width: '100' if order_item.item.image_url %>
      </section>
      <section class='item-info'>
        <%= link_to order_item.item.title, item_path(order_item.item) %>
        <p>Price: <%= number_to_currency(order_item.sale_price) %></p>
        <p>Qty: <%= order_item.quantity %></p>
        <p>Item Subtotal: <%= number_to_currency(order_item.subtotal) %></p>
        <p>Order Status: <%= order_item.fulfillment_status.capitalize %></p>
        <% if order_item.fulfillment_status.pending? && order_item.in_stock? %>
          <%= button_to "Fulfill Item", dashboard_order_item_path(order_item) %>
        <% end %>
      </section>
    </section>
  <% end %>
</section>
