<section class="splash">
  <img src="https://lh3.googleusercontent.com/snrW2_eKtRQdFX9SPmQLP23Q_eEWLRkGOia-gI-UL7Wy6-LCbbgG4e-RHHYizvHs8aAMkr6ewhMNF3gBFH-uAM3ARMK1ef08HHI2F-s9KbnH_L552pyIBaTAKAasXokYAVZUR_Mg0TzZe5bz5iDBqQOKDOenRROLscoMwcMKn3We0gUJdf_US3LP9CfyIdPsqMdTmRU8M5DmqAXRh-qxlv2sOVNYOM_c57i2BWQGSMBK5uUEwQVhg2K7YC4d94vaWdtYuJnz64_2n585PxC3AcAIbYue3lkf9OhTUMY-tYLGEyBniT-eyfRZk8IqVM5OMUxXhDn5ArA0kPnv2Vlatj64Yi1c1NaG0YpX8GOJwgcQ6Uvl4PGdcM-N0gs3--rbxiwq7R1KwcEl0pwmdz3zUAPS1vkNW1Mbmib38fCWT7Bj1U-hnnaYK0VK6FK4ueXs5gKuIJcJjKkWzLjNXBJQ-u4MIXNI7ZGgQFFPT6ahJkPHGZvkembzOE-cE03ajic6M1Tegf2pEI2LSnJ9K8ZLH2dJdlgF74p9QNQU1YV5yRm7gzVveFFADuB2krj0BRhHNmYOQbXg9-krP9gMQSYpTpa-cZHvMOPPCSLmpxbqXANd0WLo_wp8NcZ1xw4mcsAkZr4NKfUyI8mlP42VVgNhw6Shji2mDmGoQDeUh20cQzRXyodGw34sSZG9sYDEGETb_1JkX8npR5l0ZCtAq5KzQJH3=w2880-h1110-no"/>
  <h1>Welcome to Little Shop of Hors d'Oeuvres</h1>
  <%= link_to "Enter", items_path %>

  <footer>
    <h3>This is a Turing School of Software and Design Backend Mod 2 group project</h3>
    <h4>Created by <%= link_to "Scott Thomas", 'https://github.com/smthom05' %>, <%= link_to "Peregrine Balas", 'https://github.com/PeregrineReed' %>, <%= link_to "April Dagonese", "https://github.com/aprildagonese" %> and <%= link_to "Zach Nager", 'https://github.com/nagerz' %></h4>
  </footer>
</section>
