<%= render 'infopage' %>
<%= render 'orderslist' %>

<!---Statistics--->
<h3>Top 5 Items Sold by Quantity</h3>
<% @top_five.each do |item| %>
  <li><%= item.title %>: <%= item.units_sold %> units sold</li>
<% end  %>
</br>
<h3>Total Quantity of Items Sold</h3>
<p>Sold <%= @total_sold %> items, which is <%= @percent_sold %>% of your total inventory</p>
</br>
<h3>User Orders</h3>
<p>User With Most Orders: <%= @most_orders.name %> (<%= @order_count %> orders placed)</p>
