<%= render 'infopage' %>
<%= render 'orderslist' %>

<!---Statistics--->
<h3>Top 5 Items Sold by Quantity</h3>
<% @top_five.each do |item| %>
  <li><%= item.title %>: <%= item.units_sold %> units sold</li>
<% end  %>
<h3>Total Quantity of Items Sold</h3>
<p>Sold <%= Item.total_sold_quantity(@user) %> items, which is <%= Item.percent_sold(@user) %>% of your total inventory</p>

<section id='top_states'>
  <h3>Top 3 States Where Items Were Shipped</h3>
  <ol>
    <% @top_three_states.each do |state| %>
      <li><%= state.state %> (<%= pluralize(state.total_items, 'item') %> shipped)</li>
    <% end %>
  </ol>
</section>

<section id="top_city_states">
  <h3>Top 3 Cities Where Items Were Shipped</h3>
  <ol>
    <% @top_three_city_states.each do |city| %>
      <li><%= city.city %>, <%= city.state %> (<%= pluralize(city.total_items, 'item') %> shipped)</li>
    <% end %>
  </ol>
</section>
