<section class='edit-item'>

  <% if @item.errors %>
    <ul id="errors">
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<section class='form'>

  <h1>Edit <%= @item.title %></h1>

    <%= form_for @item, url: url_for(controller: :items, action: :update) do |f| %>
      <%= hidden_field_tag :id, @item.id %>
      <div class="label-input">
        <%= f.label :title, "Dish" %>
        <br>
        <%= f.text_field :title, required: true %>
      </div>
      <div class="label-input">
        <%= f.label :description %>
        <br>
        <%= f.text_field :description, required: true %>
      </div>
      <div class="label-input">
        <%= f.label :image_url, "Image (optional)" %>
        <br>
        <%= f.text_field :image_url  %>
      </div>
      <div class="label-input">
        <%= f.label :price %>
        <br>
        <%= f.text_field :price, required: true %>
      </div>
      <div class="label-input">
        <%= f.label :quantity, "Current Inventory" %>
        <br>
        <%= f.text_field :quantity, required: true %>
      </div>
      <br>
      <div class="label-input">
        <%= f.submit %>
      </div>
      <br>
    <% end %>

  </section>
</section>
