<section class='merchant-items'>

  <h1>All Items</h1>

  <div class="add-item">
    <%= button_to "Add a New Item", dashboard_items_new_path, method: :get %>
  </div>

  <section class="merchant-items-index">
    <% @items.each do |item| %>


      <section id=<%= "item-#{item.id}" %>>
        <div class="item">

          <%= image_tag item.image_url, width: '100' if item.image_url %>

          <div class="item-id">
            <h4><%= item.title %></h4>
            <p>Item ID: <%= item.id %>
              <% if item.active == false %>
              (Disabled)
              <% end %>
            </p>
          </div>

          <p>Price: <%= item.price %></p>
          <p>Inventory: <%= item.quantity %></p>
          <div class="buttons">
            <%= button_to "Edit Item", dashboard_item_edit_path(item), method: :get %>

            <% if item.active %>
              <%= button_to "Disable", enable_item_path(item), method: :patch %>
            <% else %>
              <%= button_to "Enable", enable_item_path(item), method: :patch %>
            <% end %>

            <% unless item.ordered? %>
              <%= button_to "Delete", item_path(item), method: :delete %>
          </div>
          <% end %>
        </div>
      </section>

    <% end %>
  </section>
</section>
