<h1>Enter information for your new dish:</h1>

<% if @item.errors %>
  <ul id="errors">
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @item do |f| %>
  <%= f.label :title, "Dish" %>
  <%= f.text_field :title, required: true %>

  <%= f.label :description %>
  <%= f.text_field :description, required: true %>

  <%= f.label :image_url, "Image (optional)" %>
  <%= f.text_field :image_url, value: "https://2static.fjcdn.com/pictures/Generic+food+image+if+anyones+old+or+watched+repo+man_47b808_5979251.jpg"  %>

  <%= f.label :price %>
  <%= f.text_field :price, required: true %>

  <%= f.label :quantity, "Current Inventory" %>
  <%= f.text_field :quantity, required: true %>

  <%= f.submit "Save Item" %>
<% end %>
