<section class='items-index'>

<h1>All Items</h1>

<aside class="item-statistics">
  <section class="most-popular">
    <h2>Most popular dishes:</h2>
    <% @top_items.each do |dish| %>
      <p><%= dish.title %> (<%= dish.total_quantity %>)</p>
    <% end %>
  </section>
  <section class="least-popular">
    <h2>Least popular dishes:</h2>
    <% @bottom_items.each do |dish| %>
      <p><%= dish.title %> (<%= dish.total_quantity %>)</p>
    <% end %>
  </section>
</aside>

<%= render 'itemlist' %>

</section>
