<section class='new-item'>

  <% if @item.errors %>
  <ul id="errors">
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="form">

    <h1>Enter information</h1>
    <h1>for your new dish:</h1>
    <br>

    <%= form_for @item do |f| %>
    <div class="label-input">
      <%= f.label :title, "Dish" %>
      <br>
      <%= f.text_field :title, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :description %>
      <br>
      <%= f.text_field :description, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :image_url, "Image (optional)" %>
      <br>
      <%= f.text_field :image_url, value: "" %>
    </div>
    <div class="label-input">
      <%= f.label :price %>
      <br>
      <%= f.number_field :price, min: 0, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :quantity, "Current Inventory" %>
      <br>
      <%= f.number_field :quantity, min: 0, required: true %>
      <%= hidden_field_tag "user", "#{@merchant}" %>
    </div>
     <br>
    <div class="label-input">
      <%= f.submit "Save Item" %>
    </div>
    <% end %>

  </div>

</section>
