<section class='admin-edit-user-profile'>

  <% if @user.errors %>
    <ul id="errors">
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <section class='form'>

    <h1>Edit Profile</h1>

    <%= form_for @user, :url => admin_user_path(@user.slug) do |f| %>

    <div class="label-input">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :street_address %>
      <br>
      <%= f.text_field :street_address, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :city %>
      <br>
      <%= f.text_field :city, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :state %>
      <br>
      <%= f.text_field :state, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :zip_code %>
      <br>
      <%= f.text_field :zip_code, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, required: true %>
    </div>

    <h2>Reset Password</h2>

    <div class="label-input">
      <%= f.label :password %>
      <br>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="label-input">
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation, required: true %>
    </div>
    <br>
    <div class="label-input">
      <%= f.submit "Update Profile" %>
    </div>

    <% end %>

  </section>

</section>
