<section class='dashboard-stats'>

  <section class='yearly-revenue'>
    <h3>Yearly Revenue</h3>
    <%= bar_chart @yearly_revenue.group_by_month(:created_at, format: "%b %Y").count %>
  </section>

  <section class='percent-sold'>
    <h3>Total Quantity of Items Sold</h3>
    <p>Sold <%= @user.items.total_sold_quantity(@user) %> items, which is <%= @user.items.percent_sold(@user) %>% of your total inventory</p>
    <%= pie_chart @user.inventory_chart %>
  </section>

  <section id=top-items>
  <h3>Top 5 Items Sold by Quantity</h3>
    <% @top_five.each do |item| %>
      <section class='top-item'>
          <li><%= item.title %>: <%= item.units_sold %> units sold</li>
        </section>
    <% end  %>
  </section>

  <section id='top-states'>
    <h3>Top 3 States Where Items Were Shipped</h3>
    <ol>
      <% @top_three_states.each do |state| %>
        <section class='state'>
          <li><%= state.state %> (<%= pluralize(state.total_items, 'item') %> shipped)</li>
        </section>
      <% end %>
    </ol>
    <%= pie_chart @user.state_chart %>
  </section>

  <section id='top-cities'>
    <h3>Top 3 Cities Where Items Were Shipped</h3>
    <ol>
      <% @top_three_cities.each do |city| %>
        <section class="city">
          <li><%= city.city %>, <%= city.state %> (<%= pluralize(city.total_items, 'item') %> shipped)</li>
        </section>
      <% end %>
    </ol>
    <%= pie_chart @user.city_chart %>
  </section>

  <section id='top-spending-patrons'>
    <h3>Top 3 Spending Patrons</h3>
    <ol>
      <% @top_three_patrons.each do |patron| %>
        <section class="patron">
          <li> <%= patron.name %> (<%= number_to_currency(patron.total_spent) %>) </li>
        </section>
      <% end %>
    </ol>
  </section>

  <section id='top-items-patrons'>
    <h3>Patron Who Purchased The Most Total Items</h3>
    <ol>
      <% @top_items_patrons.each do |patron| %>
        <section class="patron">
          <li> <%= patron.name %> (<%= pluralize(patron.total_items_qty, 'item')%>) </li>
        </section>
      <% end %>
    </ol>
  </section>

  <section id='top-orders-patrons'>
    <h3>Patron Who Has The Most Orders</h3>
    <ol>
      <% @top_orders_patrons.each do |patron| %>
        <section class="patron">
          <li> <%= patron.name %> (<%= pluralize(patron.total_orders, 'order')%>) </li>
        </section>
      <% end %>
    </ol>
  </section>
</section>
