  <section class='profile'>
    <p>Name: <%= @user.name %></p>
    <p>Address: <%= @user.street_address %></p>
    <p>City: <%= @user.city %></p>
    <p>State: <%= @user.state %></p>
    <p>Zip Code: <%= @user.zip_code %></p>
    <p>Email: <%= @user.email %></p>
  </section>

  <aside class="user-profile-buttons">
    <%= button_to "View Orders", profile_orders_path, method: :get %>

    <% if current_user && current_user.admin? %>
      <%= button_to "Edit Profile", edit_admin_user_path(@user), method: :get %>
      <%= button_to "Downgrade Merchant", admin_merchant_path(@user), method: :patch %>
    <% elsif current_user && current_user.registered? %>
      <%= button_to "Edit Profile", profile_edit_path, method: :get %>
    <% end %>
  </aside>
