<div class="item-list">
  <% @items.each do |item| %>
  <div class="id-<%=item.id%>-row">
    <div class="left-column">
      <%= link_to item_path(item) do%>
      <%= image_tag(item.image_url, width: '100') if item.image_url %>
      <% end %>

    </div>
    <div class="middle-column">
      <%= link_to item.title, item_path(item) %>
      <p>Current Price: $<%= item.price %></p>
      <p>Qty: <%= item.quantity %></p>
    </div>
    <div class="right-column">
      <% if @view=="Cart" %>
        <p>Subtotal: $<%= item.subtotal %></p>
      <% end %>
        <p>Sold By: <%= item.user.name %></p>
    </div>
  </div>
  <% end %>
</div>
