<!---Nav Bar--->
  <nav class="nav-bar">
    <div class="general-nav">
      <%= link_to "Home", welcome_path %>
      <% if current_user %>
        <% if current_user.registered? %>
          <%= link_to "My Profile", profile_path %>
        <% elsif current_user.merchant? %>
          <%= link_to "My Dashboard", dashboard_path %>
        <% elsif current_user.admin? %>
          <%= link_to "Admin Dashboard", admin_dashboard_path %>
          <%= link_to "Users", admin_users_path %>
        <% end %>
      <% end %>
      <%= link_to "Browse Dishes", items_path %>
      <% if current_user && current_user.admin? %>
        <%= link_to "Restaurants", admin_merchants_path %>
      <% else %>
        <%= link_to "Restaurants", merchants_path %>
      <% end %>
    </div>
    <div class="auth-nav">
      <% if !current_user %>
        <%= link_to "Log In", login_path %>
        <%= link_to "Register", register_path %>
      <% else %>
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% end %>
    </div>

    <div class="cart-nav">
      <% if !current_user || current_user.registered? %>
        <%= link_to "Cart: (#{@cart.total_count})", cart_path %>
      <% end %>
    </div>

  </nav>
