<ul class='orders-list'>
  <% if !@orders.empty? %>
    <% @orders.each do |order| %>
      <li id="order-<%= order.id %>">
        <% if current_user.registered? %>
          <%= link_to  "Order ID: #{order.id}", profile_order_path(order) %>
        <% elsif current_user.merchant? %>
          <%= link_to  "Order ID: #{order.id}", dashboard_order_path(order) %>
        <% elsif current_user.admin? %>
          <%= link_to  "Order ID: #{order.id}", admin_merchant_order_path(order: order, merchant: @user) if @user.merchant?%>
          <%= link_to  "Order ID: #{order.id}", admin_order_path(order) if @user.registered?%>
        <% end %>
        <p>Placed on: <%= order.created_at %></p>
        <p>Last Updated on: <%= order.updated_at %></p>
        <p>Item Count: <%= order.item_count %></p>
        <p>Order Total: <%= number_to_currency(order.total_cost) %></p>
        <p>Order Status: <%= order.status.capitalize %></p>
        <% if order.pending? %>
          <% if current_user.registered? %>
            <%= button_to "Cancel Order", profile_orders_path, method: :patch, params: {order_id: order.id} %>
          <% elsif current_user.admin? %>
            <%= button_to "Cancel Order", admin_order_path(order), method: :delete, params: {order_id: order.id} %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <h3>No orders have been placed yet.</h3>
  <% end %>
</ul>
