<ul class='orders-list'>
  <% @user.orders.each do |order| %>
  <li id=<%= "order-#{order.id}" %>>
    <a>Order ID: <%= order.id %></a>
    <a>Order Status: <%= order.status %></a>
    <a>Started on: <%= order.created_at %></a>
    <a>Last Updated on: <%= order.updated_at %></a>
    <a>Item Count: <%= order.item_count %></a>
    <a>Order Total: <%= order.item_total %></a>
  </li>
  <% end %>
</ul>
