<ul class='orders-list'>
  <% @user.orders.each do |order| %>
  <li id=<%= "order-#{order.id}" %>>
    <%= link_to  "Order ID: #{order.id}", profile_orders_path(order) %>
    <a>Order Status: <%= order.status %></a>
    <a>Started on: <%= order.created_at %></a>
    <a>Last Updated on: <%= order.updated_at %></a>
    <a>Item Count: <%= order.item_count %></a>
    <a>Order Total: <%= order.total_cost %></a>
  </li>
  <% end %>
</ul>
