<body>

<div class="user-list">
  <% @users.each do |user| %>
  <div class="<%=user.name%>-row">
    <div class="user-name"><%= user.name %></div>
    <address class="location-data">
      <article>City:<%= user.city %></article>
      <article>State:<%= user.state %></article>
    </address>
    <div class="activation-data">
      <% unless @view=="Users" %><article>Date Registered: <%= user.created_at.to_date.to_s %></article>
      <% if @type=="Admin" %><button>Activation Button</button>
    </div>
  </div>
  <% end %>
</div>

</body>
